
<div class="col-xs-12" id="<%= dom_id(comment) %>">
  <div class="row">
    <div class="col-xs-11">
      <%= comment.body %>
    </div>

    <div class="col-xs-1">
      <% if can? :delete, comment %>
        <%= link_to comment_path(comment),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'are you sure?' },
                    class: "pull-right" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
</div>
